.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorLabel {
  color: red;
  font-size: small;
}

.submitButton:focus {
  font-weight: bold;
}
